* {padding: 0;margin:0;}
html , body {width: 100%;height: 100%;background-color: #eee;}
html {-webkit-text-size-adjust:none;font-size: 100px;font-family: 'microsoft YaHei'}
body {text-align: center;}
ul,li {list-style: none;}

.content {width: 100%;height: 100%;overflow-y: hidden;}
.content .wrap {position: relative;overflow: hidden;}
.content ul {width: 300%;height: 100%;}
.content > ul > li {width: 33.33333%;height: 100%;float: left;font-size: 30px;position: relative;}

.itme1 { position: relative;}
.itme1 .a_background {
	height: 100%;
	width: 100%;
	position: absolute;
}
.itme1 .a_background_top{
	width: 100%;
    height: 71.6%;
	background: url(../img/images/background/a_background_top.png) no-repeat;
	background-size: 100% 100%;

}
.itme1 .a_background_middle {
	width: 100%;
    height: 13.1%;
	background: url(../img/images/background/a_background_middle.png) no-repeat;
	background-size: 100% 100%;
}
.itme1 .a_background_botton {
	width: 100%;
    height: 15.3%;
	background: url(../img/images/background/a_background_botton.png) no-repeat;
	background-size: 100% 100%;
}
.itme1 .sun {background: url(../img/images/sun.png) no-repeat;
			position:absolute;
			z-index: 1;
			top: -30px;
			height: 200px;
			width: 400px;
			right: 40%;
}
.itme1 .cloud {
	z-index: 2;
	position: absolute;
}
.itme1 .cloud1 {
	width: 180px;
	height: 100px;
	left: -5%;
	top: 15%;
	background: url(../img/images/cloud1.png);
}
.itme1 .cloud2 {
	width: 300px;
	height: 140px;
	right: -5%;
	
	background: url(../img/images/cloud2.png);
}
.cloud1Anim {
	animation: smallcloud 20s infinite alternate;
}
.cloud2Anim {
	animation: bigcloud 30s infinite alternate;
}
@keyframes smallcloud {
	0% {
		left: -5%;
	}
	100% {
		left:100%
	}
}
@keyframes bigcloud {
	0% {
		right: -5%;
	}
	100% {
		right:100%
	}
}

.itme2 { position: relative;}
.b_background {
	width: 100%;height: 100%;
	background: url(../img/images/QixiB-dark.png) no-repeat center center;
	background-size: 100% 100%;
	position: absolute;
}
 .b_background_pre {
	background: url(../img/images/QixiB-bright.png) no-repeat -9999px -9999px;
	background-size: 100% 100%;
	position: absolute;
}
.lamp_bright {
	background: url(../img/images/QixiB-bright.png) no-repeat;
	background-size: 100% 100%;
}
.shop {
	position: absolute;
	width: 39.5%;
	height: 35.5%;
	left: 29%;
	top: 36.5%;

}
.shop .door {
	position: absolute;
	width: 32%;
	height: 67%;
	top: 32%;
	overflow: hidden;
	left: 58.5%;
}
.door_left,.door_right {
	width: 50%;
	height: 100%;
	position: absolute;
	

}
.door_left {
	left: 0%;
	background: url(../img/images/door-left.png) no-repeat ;
	background-size: 100% 100%;
}
.door_right {
	right: 0%;
	background: url(../img/images/door-right.png) no-repeat  ;
	background-size: 100% 100%;
}




.charactor {background: url(../img/images/boy.png) -0px -291px no-repeat;
	 		position: absolute;
	 		left: 6%;
	 		top: 55%;
	 		width: 151px;
	 		height: 291px;
}

.slowwalk {
	animation: person-slow 0.9s infinite ;
	 -webkit-animation-timing-function: steps(1, start);
}
@keyframes person-slow {
 	0% {
 		background-position: 0 -291px;
 	}
 	25% {
 		 		background-position: -604px 0px;
		}
 	50% {
 		 		background-position: -302px -291px;
		}
	75% {
 		 		background-position: -151px -291px;
		}
	100% {
 		background-position: 0 -291px;
 	}
}

.pausewalk {
	-webkit-animation-play-state: paused;
}

/*第一幅画面的动画-------太阳的运动*/
.rotation {
	animation: rotation 30s;
}
@keyframes rotation {
	0% {
		transform: translateX(0) translateY(0);
	}
	100% {
		transform: translateX(-2000px) translateY(400px);
	}
}

/*进入商店*/
.scaleboy {
	transform:  translateX(50px) scale(0.5,0.5);
	/*opacity: 0;*/
	transition: all 2s linear;
}
.scaleboyout {
	transform:  translateX(50px) scale(1,1);
	
	transition: all 2s linear;
}

/*买花*/
.slowflowerwalk {
	animation: person-flower-slow 950ms infinite step-start;
}
@keyframes person-flower-slow {
	0% {
		background-position: -453px -0px;
	}
	25% {
		background-position: -904px -0px;
	}
	50% {
		background-position: -451px -0px;
	}
	75% {
		background-position: -753px -0px;
	}
	100% {
		background-position: -300px -0px;
	}
}

.bird {
	min-width: 91px;
	min-height: 71px;
	top:10%;
	position: absolute;
	z-index: 10;
	right: -91px;
	background: url(../img/images/bird.png) -182px 0 no-repeat ;
}
.birdfly {
	animation: bird-slow 400ms step-start infinite;
}
@keyframes  bird-slow{
	0% {
		background-position: -182px 0px;
	}
	50% {
		background-position: -0px 0px;
	}
	75% {
		background-position: -91px 0px;
	}
	100% {
		background-position: -182px 0px;
	}
}




/*第三幅画*/
.itme3 {position: absolute;width: 100%;height: 100%;}
.c_background {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}
.c_background_top {
	width: 100%;
	height: 71.6%;
	background: url(../img/images/background/c_background_top.png) no-repeat;
	background-size: 100% 100%;
}
.c_background_middle {
	width: 100%;
	height: 13.1%;
	background: url(../img/images/background/c_background_middle.png) no-repeat;
	background-size: 100% 100%;
}
.c_background_bottom {
	width: 100%;
	height: 15.3%;
	background: url(../img/images/background/c_background_botton.png) no-repeat;
	background-size: 100% 100%;
}


/*小女孩*/
.girl {
	background: url(../img/images/girl.png) -755px 0px no-repeat;
	position: absolute;
	right: 40%;
	top:25%;
	width: 151px;
	height: 291px;

}
/*桥*/
.bridge-bottom {
	position: absolute;
	width: 41%;
	height: 24%;
	left: 29.5%;
	top: 76%;
	overflow: hidden;
	/*background-color: #ccc;*/
}
.water {
	height: 100%;
	width: 100%;
	/*z-index: 20;*/
}
.water1,
.water2,
.water3,
.water4{
	width: 100%;
	position: absolute;
	height: 50%;
	/*animation: shake 40s  infinite;*/
	-webkit-animation-name: shake;
    -webkit-animation-duration: 40s;
    -webkit-animation-direction: alternate;
    -webkit-anination-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
.water1 {
	width: 131px;
	height: 15px;
	top: 13%;
	left: 35%;
	background: url(../img/images/water.png) -261px 0 no-repeat;
}
.water2 {
	width: 191px;
	height: 9px;
	top: 28%;
	left: 45%;
	background: url(../img/images/water.png) -693px 0 no-repeat;
	 -webkit-animation-delay: 2s;
}
.water3 {
	width: 261px;
	height: 29px;
	top: 50%;
	left: 15%;
	background: url(../img/images/water.png) -0px 0 no-repeat;
	 -webkit-animation-delay: 1s;
}
.water4 {
	width: 301px;
	height: 12px;
	top: 75%;
	left: 30%;
	background: url(../img/images/water.png) -392px 0 no-repeat;
	 -webkit-animation-delay: 3s;
}

@-webkit-keyframes shake {
	0%,100% {
		-webkit-transform:translate(0,0);
	}
	10%,30%,50%,70%,90% {
		-webkit-transform:translate(-30px,0);
	}
	20%,40%,60%,80% {
		-webkit-transform: translate(30px,0);
	}
}

/*星星*/
.stars {
	width: 100%;
	height: 100%;
	position: absolute;

}
.stars li {
	position: absolute;
	width: 30px;
	height: 31px;
	background: url(../img/images/stars.png);
	animation: flash  5s ease-in-out infinite alternate 
}
.stars1 {
	top: 20%;
	left: 30%;
	animation-duration: 5s; 
}
.stars2 {
	top: 10%;
	left: 20%;
	animation-duration: 5s; 
}
.stars3 {
	top: 20%;
	left: 30%;
	animation-duration: 5s; 
}
.stars4 {
	top: 35%;
	left: 10%;
	animation-duration: 5s; 
}
.stars5 {
	top: 30%;
	left: 5%;
	animation-duration: 5s; 
}
.stars6 {
	top: 10%;
	left:5%;
	animation-duration: 5s; 
}
@keyframes  flash{
	0%,50%,100% {
		opacity: 1;
	}
	25%,75% {
		opacity: 0;
	}
}

 .boy-rotate {
       -webkit-animation-name: boy-rotate;
       -webkit-animation-duration: 850ms;
       -webkit-animation-iteration-count: 1;
       -webkit-animation-timing-function: step-start;
       -webkit-animation-fill-mode: forwards;
       -moz-animation-name: boy-rotate;
       -moz-animation-duration: 850ms;
       -moz-animation-iteration-count: 1;
       -moz-animation-timing-function: step-start;
       -moz-animation-fill-mode: forwards;
   }
   
   @-webkit-keyframes boy-rotate {
       0% {
           background-position: -603px -291px;
       }
       16.7% {
           background-position: -150px -0px;
       }
       33.4% {
           background-position: -453px -291px;
       }
       50.1% {
           background-position: -0px -0px;
       }
       66.8% {
           background-position: -903px -291px;
       }
       83.5% {
           background-position: -753px -291px;
       }
       100% {
           background-position: -603px -291px;
       }
   }
   .girl {
    background: url(http://img.mukewang.com/55ade30d000100dc10570291.png) -755px -0px no-repeat;
    position: absolute;
    right: 40%;
    top: 37%;
    width: 151px;
    height: 291px;
}

.girl-rotate {
    -webkit-animation-name: girl-rotate;
    -webkit-animation-duration: 850ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: step-start;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: girl-rotate;
    -moz-animation-duration: 850ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: step-start;
    -moz-animation-fill-mode: forwards;
}

@-webkit-keyframes girl-rotate {
    0% {
        background-position: -604px -0px;
    }
    16.7% {
        background-position: -151px -0px;
    }
    33.4% {
        background-position: -906px -0px;
    }
    50.1% {
        background-position: -0px -0px;
    }
    66.8% {
        background-position: -302px -0px;
    }
    83.5% {
        background-position: -453px -0px;
    }
    100% {
        background-position: -604px -0px;
    }
}
#snowflake {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.snowRoll {
    position: absolute;
    opacity: 0;
    -webkit-animation-name: mysnow;
    -webkit-animation-duration: 20s;
    -moz-animation-name: mysnow;
    -moz-animation-duration: 20s;
    height: 80px;
}
@keyframes mysnow {
    0% {
        bottom: 100%;
    }
    50% {
        -webkit-transform: rotate(1080deg);
    }
    100% {
        -webkit-transform: rotate(0deg) translate3d(50px, 50px, 50px);
    }
}
