* {padding: 0;margin:0;}
html , body {width: 100%;height: 100%;background-color: #eee;}
html {-webkit-text-size-adjust:none;font-size: 100px;font-family: 'microsoft YaHei'}
body {text-align: center;}
ul,li {list-style: none;}

.content {width: 100%;height: 100%;}
.content .wrap {position: relative;}
.content ul {width: 300%;height: 100%;}
.content ul li {width: 33.33333%;height: 100%;float: left;font-size: 30px;}

.itme1 { position: relative;}
.itme1 .a_background {
	height: 100%;
	width: 100%;
	position: absolute;
}
.itme1 .a_background_top{
	width: 100%;
    height: 71.6%;
	background: url(../img/images/background/a_background_top.png) no-repeat;
	background-size: 100% 100%;

}
.itme1 .a_background_middle {
	width: 100%;
    height: 13.1%;
	background: url(../img/images/background/a_background_middle.png) no-repeat;
	background-size: 100% 100%;
}
.itme1 .a_background_botton {
	width: 100%;
    height: 15.3%;
	background: url(../img/images/background/a_background_botton.png) no-repeat;
	background-size: 100% 100%;
}


.itme3 {background: url(../img/images/background/c_background_top.png) no-repeat center center;}

.charactor {background: url(../img/images/boy.png) -0px -291px no-repeat;
	 		position: absolute;
	 		left: 6%;
	 		top: 55%;
	 		width: 151px;
	 		height: 291px;
}

.slowwalk {
	animation: person-slow 0.9s infinite ;
	 -webkit-animation-timing-function: steps(1, start);
}
@keyframes person-slow {
 	0% {
 		background-position: 0 -291px;
 	}
 	25% {
 		 		background-position: -604px 0px;
		}
 	50% {
 		 		background-position: -302px -291px;
		}
	75% {
 		 		background-position: -151px -291px;
		}
	100% {
 		background-position: 0 -291px;
 	}
}

.pausewalk {
	-webkit-animation-play-state:pause;
}
