@charset "utf-8";
body,html{height: 100%;}
.section {width: 100%;height: 100%;padding-top: 20px;overflow: hidden;}
.homepage-container {position: relative;}
.homepage-container .homepage-header .homepage-left:before {content: "Goods";position: absolute;top: 18px;left:145px;font-size: 27px;/*line-height: 48px;*/vertical-align: middle;}
.homepage-container .homepage-header {height: 48px;padding-top: 20px;margin: 0 auto;width: 1080px;position: relative;}
.homepage-left, .homepage-right {width:49%;display: inline-block;}
.homepage-right h6,span {display: inline-block;}
.homepage-right h6 {color: #ccc;font-size: 14px;font-weight: 400;line-height: 27px;padding-left: 220px;}
.homepage-right span {color: #666;}
.homepage-right span em {color: #ccc;line-height: 32px;}
.homepage-left img {vertical-align: middle;}

.homepage-carousel {width: 1680px;margin: 0 auto;padding-top: 10px;position: relative;}
.carousel-text {position: absolute;z-index: 1;top: 0;left: 368px;}
.carousel-text li {line-height: 35px;}
.carousel-text ul {}
.carousel-text ul li:last-child {border-bottom: 1px solid #ccc}
.carousel-text li a {color: #000;}
.carousel-text p {margin-left: 13px;font-weight: 400;margin-top: 10px;}

.carousel-img {overflow: hidden;}
.carousel-img .carousel-bot {position: absolute;left: 610px;cursor: pointer;height: 40px;padding: 2px 20px;vertical-align: center;bottom: -440px;z-index: 99;}
.carousel-img .carousel-bot span {display: inline-block;width: 10px;height: 10px;border:3px double #000;border-radius: 50%;margin-left: 15px;}
/*.carousel-img .carousel-bot span:hover {border: 2px solid;padding: 1px;background-clip: content-box;background-color: #000;border-radius: 50%;}*/
.span_active {border: 2px solid !important;padding: 1px;background-clip: content-box;background-color: #000;border-radius: 50%;}

.carousel-img .carousel-bot p {display: inline-block;width: 15px;height: 15px;font-size: 26px;font-weight:400;}
.carousel-img .carousel-bot span > img {width: 200px;position: absolute;margin-top: -112px;margin-left: -94px;}
.carousel-img .carousel-bot p:hover {font-weight: 800;}
.carousel-img .carousel-bot span+p {margin-left: 10px;}
.carousel-img .carousel-bot span img {opacity: 0;-webkit-transition:all 0.2s;}
/*.carousel-img .carousel-bot span:hover img {opacity: 1;margin-top: -82px;}*/

.carousel-img img {position: absolute;-webkit-transition:all 0.5s;opacity: 0;width: 100%;}
.img_active  {z-index: 1;opacity: 1!important;}











.footer .content {display: inline;color: #000;font-size: 26px;height: 100px;font-family: "Helvetica", sans-serif;font-weight: 500;}
.footer .dash {display: inline-block;height: 3px;width: 15px;background-color: #66ffcc;animation: blink .6s infinite linear}
@keyframes blink {
	0% {
		opacity: 1;
	}
	99%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}




/*开关按钮*/
/*这里运用到了:after，:before，:checked，伪类选择器以及+兄弟选择器，以及label标签来控制input关联的自定选择是否checked来定义动画，*/
.footer1 {
	height: 100px;width: 100%;position: relative;
  	background-color: #edf0f4;
	font-family: "Helvetica", sans-serif;
	color: #fff;
}
.toggleWrapper {position: absolute;top: 50%;left: 50%;overflow: hidden;-webkit-transform:translate3d(-50%,-50%,0);transform: translate3d(-50%,-50%,0);}
/*translate3d()表示在x-y-z三轴的位移转换*/
.toggleWrapper input {position: absolute;left: -99em}
.toggle {cursor: pointer;display: inline-block;position: relative;width: 120px;height: 50px;background-color: #d21626;border-radius: 5px;-webkit-transition:all 200ms linear;transition: all 200ms linear;}
.toggle:before ,.toggle:after{
	position: absolute;line-height: 50px;font-size: 14px;z-index: 2;-webkit-transition:all 200ms linear;transition:all 200ms linear;
}
.toggle:before {
	content: "OFF";
	left:20px;
	color: #d21626;
}
.toggle:after {
	content: "ON";
	right: 20px;
	color:#fff;
}
.toggle_handler {
	display: inline-block;position: relative;z-index: 1;
	background-color: #fff;
	width: 65px;height: 44px;
	border-radius: 3px;
	top: 3px;
	left: 3px;
	-webkit-transition:all 200ms linear;
	transition:all 200ms linear;
	-webkit-transform:translateX(0px);
	transform:translateX(0px);
}
/*兄弟选择器。拥有一个共同的父级，并且是input后面的一位兄弟*/
input:checked+.toggle{
	background-color: #66b317;

}
input:checked + .toggle:before{
	color: #fff;
}
input:checked + .toggle:after {
	color: #66b317;
}
input:checked + .toggle .toggle_handler {
	width: 54px;
	-webkit-transform:translateX(60px);
	transform:translateX(60px);
	border-color: #fff;
}




/*icon   hover弹出框*/
.footer2 {
	background: #e6e6e6;
	/*要引进icon就必须要设置下面字体才能起作用*/
	font-family: "FontAwesome","微软雅黑"!important;
	/*font-family:  "Arial"!important;*/
	padding-top: 100px;
	text-align: center;
	height: 100px;
}
.footer2 a {
	background-color: #d2d7d3;
	color: #222;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	position: relative;
	width: 40px;
	height: 28px;
	margin: 0 2px;
	padding-top: 12px;
	-webkit-transition:all 0.5s linear;
	transition: all 0.5s linear;
}
.footer2 a.icon:before {
	color: #fff;
	font-size: 20px;
}
  
.footer2 a.facebook:before{
	content: '\f09a';
}
.footer2 a.twitter:before{
	content: '\f099';
}
.footer2 a.github:before{
	content: '\f113';
}
.footer2 a.dribble:before{
	content: '\f17d';
}
.footer2 a.pinterest:before{
	content: '\f0d2';
}
.footer2 a span {
	background-color: #fff;
	color: #222;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	left: -25px;
	right: -25px;
	padding: 5px 7px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition:all 0.4s;
	transition:all 0.4s;
}
a span:before{
	content: "";
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	position: absolute;
	bottom: -5px;
	left: 40px;
}
a:hover span {
	bottom: 50px;
	visibility: visible;
	opacity: 1;
}
a.facebook:hover{
	background-color: #4183d7;
	color: #bfbfbf;
}
a.facebook span{
	color: #4183d7;
}
a.twitter:hover{
	background-color: #19b5fe;
	color: #fff;
}
a.twitter span{
	color: #19b5fe;
}
a.github:hover{
	background-color: #000;
	color: #fff;
}
a.github span{
	color: #000;
}
a.dribble:hover{
	background-color: #f62459;
	color: #fff;
}
a.dribble span{
	color: #f62459;
}
a.pinterest:hover{
	background-color: #f22613;
	color: #ff;
}
a.pinterest span{
	color: #f22613;
}





/*心的跳动  css  animation*/
.footer3 {
	width: 100%;
	height: 100%;
	min-width: 500px;
	min-height: 500px;
	overflow: hidden;
	background-color: #f7f7f5;
	position: relative;
}
.footer3 .heart {
	position: absolute;
	width: 100px;
	height: 90px;
	top: 50%;
	left: 50%;
	margin-top: -45px;
	margin-left: -50px;

}
 .heart:before ,  .heart:after{
	content: "";
	position: absolute;
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	background-color: #f1c5cf;
	border-radius: 50px 50px 0 0;
	transform:rotate(-45deg);
	transform-origin: 0 100%; /*指定旋转的原点*/
}
.heart:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}
.love1 {
	animation: heart-animation 3s linear 0.5s infinite;
}
.love2 {
	animation:beating 0.5s linear  infinite alternate;   /*最后一个参数为轮流反向播放动画*/
}
.love1:after ,.love1:before {
	background-color: #ff7693;
}
@keyframes beating {
	0% {
		transform:scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes heart-animation {
	46%{
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	52%{
		transform: scale(1.5);
	}
	55%{
		transform: scale(3);
	}
	100% {
		opacity: 0;
		transform: scale(50);
	}
}




/*footer4 鼠标划入效果图片收缩 纯css3效果
运用到了文本的省略符号 字母的大小写 nth-child伪类选择器 还有自适应的布局方式
 hover 下的ul 与 li的hover在同一时间不同的表现方式*/
.footer4 h1 {
	text-align: center;
	font-family: "Arial",sans-serif;
	color: #333;
	font-weight: 600;
	font-size: 30px;
	margin-top: 30px;
}
.footer4 .accordion{
	width: 100%;
	max-width: 1080px;
	height: 250px;
	overflow: hidden;
	margin: 50px auto;

}
.footer4 .accordion ul{
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}
.footer4 .accordion ul li {
	display: table-cell;
	vertical-align: bottom;
	position: relative;
	width: 16.6666%;
	height: 250px;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 0.5s ease;

}
.footer4 .accordion ul li div{
	overflow: hidden;
	width: 100%;
}
.footer4 .accordion ul li div a {
	display: block;
	height: 250px;
	width: 100%;
	position: relative;
	z-index: 3;
	vertical-align: bottom;
	padding: 15px 20px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	font-family: 'Lato',sans-serif;
	transition: all 200ms ease;

}
.footer4 .accordion ul li div a *{
      opacity: 0;
      margin: 0;
      width: 100%;
      text-overflow: ellipsis;/* 属性规定当文本溢出包含元素时发生的事情clip:修剪  ellipsis为省略*/
      position: relative;
      z-index: 5;
      white-space: nowrap;/* 文本不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。*/
      overflow: hidden;
      -webkit-transform:translateX(-20px);
      transform:translateX(-20px);
      -webkit-transition:all 0.4s cubic-bezier(0.07, 0.16, 0.43, 1.11);
      transition:all 0.4s ease;
}
.footer4 .accordion ul li div a h2 {
	text-overflow: clip;
	font-size: 24px;
	text-transform: uppercase;/*文本中所有字母大写字母*/
	margin-bottom: 2px;
	top: 160px;
	color: #fff;
}
.footer4 .accordion ul li div a p {
	top: 160px;
	font-size: 13.5px;
}
.accordion ul li:nth-child(1){
	background-image: url("http://lorempixel.com/650/250/");
}
.accordion ul li:nth-child(2){
	background-image: url("http://lorempixel.com/660/250/")
}
.accordion ul li:nth-child(3){
	background-image: url("http://lorempixel.com/675/250/");
}
.accordion ul li:nth-child(4){
	background-image: url("http://lorempixel.com/680/250/");
}
.accordion ul li:nth-child(5){
	background-image: url("http://lorempixel.com/690/250/");
}
.accordion ul li:nth-child(6){
	background-image: url("http://lorempixel.com/695/250/");
}
.accordion ul:hover li {
	width: 8%;
}
.accordion ul:hover li:hover {
	width: 60%;
}
.accordion ul:hover li:hover a{
	background-color: rgba(0,0,0,0.4);

}
.accordion ul:hover li:hover a *{
	opacity: 1;
	-webkit-transform:translateX(0);
	transform:translateX(0);
}
@media screen and (max-width: 600px){
	.footer4{
		margin: 0;
	}
	.footer4 .accordion{
		height: auto;
	}
		.accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover{
		position: relative;
		display: table;
		table-layout: fixed;
		width: 100%;
		-webkit-transition: none;
		transition: none;
	}
}



/*footer5  文本阴影的高级应用*/
.footer5 {
	background-color: #e6e6f9;
	position: relative;
	height: 300px;
}
.footer5 div {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%) skew(-6deg) rotate(-12deg) skewY(6deg) skewX(-12deg);
} 
.footer5 div p {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-size: 9rem;
	font-family: inherit;
	font-weight: 600;
	color: #36d79a;
	text-shadow: 0 0 0 #ff7373;
}

.footer6 {background-color: #1f253c;height: 100%;width: 100%;position: relative;}
.strand {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	margin: -15px 0 0 0;
	padding: 0;
	pointer-events: none;
	width: 100%;
}
.strand li {
	position: relative;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	width: 12px;
	height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background-color: #f02241;
    box-shadow: 0 4px 24px 3px #f02241;
    -webkit-animation-name:flash-1;
    animation-name:flash-1;
    -webkit-animation-duration:2s;
    animation-duration:2s;

}
.strand li:nth-child(2n+1){
	background-color: #42b261;
	box-shadow: 0 4px 24px 3px rgba(0,255,255,0.5);
	-webkit-animation-name:flash-2;
	animation-name:flash-2;
	-webkit-animation-duration:0.4s;
    animation-duration:0.4s;

}
.strand li:nth-child(4n+2){
	background-color: #f9fbee;
	box-shadow: 0 4px 24px 3px #f9fbee;
	-webkit-animation-name:flash-3;
	animation-name:flash-3;
	-webkit-animation-duration:1.1s;
    animation-duration:1.1s;

}
.strand li:nth-child(odd){
	-webkit-animation-duration:1.8s;
    animation-duration:1.8s;

}
.strand li:nth-child(3n+1){
	
	-webkit-animation-duration:1.4s;
    animation-duration:1.4s;

}
.strand li:before {
	content: "";
	top: -14px;
	left: 9px;
	position: absolute;
	width: 52px;
	height: 18.666667px;
	border-radius: 50%;
	border-bottom: 2px solid #222;
}
.strand li:after {
	content: "";
	top: -4.666667px;
	left: 1px;
	position: absolute;
	width: 10px;
	height: 9.3333337px;
	border-radius: 3px;
	background-color: #222;
}
.strand li:last-child:before {
     content: none;
}
@-webkit-keyframes flash-1 {
	0%,100% {
		background-color: #f02241;
		box-shadow: 0 4.6667px 24px 3px #f02241;
	}
	50%{
		background-color: rgba(240,34,65,0.4);
		box-shadow: 0 4.66667px 24px 3px rgba(240,34,65,0.4);
	}
}
@-webkit-keyframes flash-2 {
	0%,100% {
		background-color: #42b261;
		box-shadow: 0 4.6667px 24px 3px #42b261;
	}
	50%{
		background-color: rgba(66,178,97,0.4);
		box-shadow: 0 4.66667px 24px 3px rgba(66,178,97,0.4);
	}
}
@keyframes flash-3 {
	0%,100% {
		background-color: #f9fbee;
		box-shadow: 0 4.6667px 24px 3px #f9fbee;
	}
	50%{
		background-color: rgba(249,250,238,0.4);
		box-shadow: 0 4.66667px 24px 3px rgba(249,250,238,0.4);
	}
}




.footer7 {box-sizing: border-box;
	margin: 0;padding: 0;
	position: relative;
	background-color: #aedcc0;
}
.footer7 .container {
	/*display: -webkit-box;
	display: -webkit-flex;*/
	display: flex;
	-webkit-box-oriend:vertical;
	-webkit-box-direction:normal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	/*width: 100vw;*/

}
